.product-container {
    margin: 28px 16px !important;
}

.product {
    background-color: #FFF;
    border-radius: 10px;
    max-width: 343px;
    &-infos {
        padding: 24px;
    }
    &__picture {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
    }
    &__category {
        margin-bottom: 12px !important;
        display: block;
        @include overlineTypo;
        color: $aurometalSaurusColor;
        text-transform: uppercase;
    }
    &__title {
        margin-bottom: 16px !important;
        @include displayTypo;
        color: $gunmetalColor;
    }
    &__caption {
        margin-bottom: 24px !important;
        color: $aurometalSaurusColor;
    }
    &__price {
        margin-bottom: 20px;
        column-gap: 19px;
        &--original {
            color: $aurometalSaurusColor;
            text-decoration: line-through;
        }
        &--sale {
            @include displayTypo;
            color: $deepAquamarineColor;
        }
    }
    &__buy-button {
        @include buttonTypo;
        width: 100%;
        height: 48px;
        background-color: $deepAquamarineColor;
        color: #FFF;
        border-radius: 8px;
        &:hover {
            background-color: $deepAquamarineHoverColor;
            color: #FFF;
        }
    }
}