.product-container {
    margin: toRem(26) toRem(16) !important;
}

.product {
    background-color: #FFF;
    border-radius: toRem(10);
    max-width: toRem(343);
    &-infos {
        padding: toRem(24);
    }
    &__picture {
        max-width: 100%;
        border-radius: toRem(10) toRem(10) 0 0;
    }
    &__category {
        margin-bottom: toRem(12) !important;
        display: block;
        @include overlineTypo;
        color: $aurometalSaurusColor;
        text-transform: uppercase;
    }
    &__title {
        margin-bottom: toRem(16) !important;
        @include displayTypo;
        color: $gunmetalColor;
    }
    &__caption {
        margin-bottom: toRem(24) !important;
        color: $aurometalSaurusColor;
    }
    &__price {
        margin-bottom: toRem(20);
        column-gap: toRem(19);
        &--original {
            color: $aurometalSaurusColor;
            text-decoration: line-through;
        }
        &--sale {
            @include displayTypo;
            color: $deepAquamarineColor;
        }
    }
}