@media screen and (min-width: 640px) {
    .product {
        max-width: toRem(600);
        height: toRem(450);
        display: flex;
        &-infos {
            padding: toRem(32);
            width: toRem(300);
        }
        &__picture {
            border-radius: toRem(10) 0 0 toRem(10);
            width: toRem(300);
            height: 100%;
        }
        &__category {
            margin-bottom: toRem(20) !important;
        }
        &__title {
            margin-bottom: toRem(24) !important;
        }
        &__caption {
            margin-bottom: toRem(29) !important;
        }
        &__price {
            margin-bottom: toRem(30) !important;
        }
    }
}

@media screen and (max-height: 540px) {
    .attribution {
        display: none;
    }
}

@media screen and (max-width: 640px) and (max-height: 690px) {
    .attribution {
        display: none;
    }
}