@media screen and (min-width: 640px) {
    .product {
        max-width: 600px;
        height: 450px;
        display: flex;
        &-infos {
            padding: 32px;
            width: 300px;
        }
        &__picture {
            border-radius: 10px 0 0 10px;
            width: 300px;
            height: 100%;
        }
        &__category {
            margin-bottom: 20px !important;
        }
        &__title {
            margin-bottom: 24px !important;
        }
        &__caption {
            margin-bottom: 29px !important;
        }
        &__price {
            margin-bottom: 30px !important;
        }
    }
}

@media screen and (max-height: 540px) {
    .attribution {
        display: none;
    }
}

@media screen and (max-width: 640px) and (max-height: 690px) {
    .attribution {
        display: none;
    }
}