// Typography

@mixin displayTypo {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
}

@mixin bodyTypo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

@mixin buttonTypo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

@mixin overlineTypo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
}