// Typography

@mixin displayTypo {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
    font-size: toRem(32);
    line-height: toRem(32);
}

@mixin bodyTypo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(23);
}

@mixin buttonTypo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: toRem(14);
    line-height: toRem(17);
}

@mixin overlineTypo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: toRem(12);
    line-height: toRem(15);
    letter-spacing: toRem(5);
}