// Color styles

$creamColor: hsl(30, 38%, 92%);
$aurometalSaurusColor: hsl(228, 12%, 48%);
$deepAquamarineColor: hsl(158, 36%, 37%);
$deepAquamarineHoverColor: hsl(158, 42%, 18%);
$gunmetalColor: hsl(212, 21%, 14%);